body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td, xmp{margin:0;padding:0;}
html{}
body,button,input,select,textarea,pre,xmp{font:12px/1.5 "Lucida Grande", Helvetica, Arial, Verdana, sans-serif, \5fae\8f6f\96c5\9ed1;}
iframe{border:0;margin:0;padding:0;}
img{border:0;}
cite,em,strong,th{font-style:inherit;font-weight:inherit;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{*font-size:100%;}
ol, ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
blockquote{quotes:none;}
blockquote:before,blockquote:after,{content:'';content:none;}
td,th,div{word-break:break-all;word-wrap:break-word}
pre,xmp{white-space:pre-wrap}
form{display:inline;}
input{vertical-align:middle;}
em,cite,i{font-style:normal;}
s{text-decoration:none;}
*{outline:none}
/*清除浮动*/
.cc:after{content:'\20';display:block;height:0;clear:both;visibility:hidden;}
.cc{*zoom:1;}
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}
/*通用样式*/
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.yahei{font-family:\5fae\8f6f\96c5\9ed1;}
.prel{ position:relative;}
.z0{ z-index:0;}
.z99{ z-index:99;}
.dib{display:inline-block;}
.cp{cursor:pointer;}
.b{font-weight:700;}
.w{white-space:nowrap;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.fr{float:right;display:inline;}
.fl{float:left;display:inline;}
.nobg{ background:none;}
.hand{cursor:pointer;}
a.tdu:hover, .tdu a:hover{text-decoration:underline;}
.w600{width:600px;}
.w520{width:520px;}
.w410{width:410px;}
.pt5{padding-top:5px;}
.pt15{padding-top:15px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr23{padding-right:23px;}
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl23{padding-left:23px;}
.p05{padding:0 5px;}
.p0p2{padding:0 2%}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.ml5{margin-left:5px;}
.ml20{margin-left:20px;}
.mt30{margin-top:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
/*字体大小*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh30{line-height:30px;}
.lh33{line-height:33px;}
.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.col-gray{color:#9fbdcd;}
.hide{display:none;}
.h18{height:18px;}
.brtl10-brtr10{-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;}
.brbl10-brbr10{-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.br12{-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
.br10{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.br8{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}

/*控件*/
.input-h33, .input-h33 span, .textarea-h83, .textarea-h83 span{background:url(images/IndexImages/input_txt.png) no-repeat 0 0;}
.input-h33{float:left;display:inline;height:33px; background-position:0 0;padding-left:10px;}
.input-h33 span{float:left;height:100%;background-position:right -33px;padding-right:10px;}/*input表单的宽度控制权在此span里，维持浮动宽度及左右间距*/
.input-h33 span input{float:left;display:inline;line-height:33px;border:none 0; background:none;height:33px;width:100%;color:#666;}

.login-link{display:block;width:193px;height:40px; background:url(images/IndexImages/btn_account_sub.png) no-repeat 0 0; text-indent:-999em; overflow:hidden;box-shadow:0 1px 1px rgba(0,0,0,.1);border-radius:5px;}
.login-link:hover{/*background-position:0 -41px;text-decoration:none;*/}

/*标题&容器*/
.title-f12{font-size:12px;font-weight:700;font-family:\5fae\8f6f\96c5\9ed1;color:#333;padding-left:13px;background:url(images/IndexImages/ico_title.png) no-repeat left center; }
.title-f14{font-size:14px;font-weight:700;font-family:\5fae\8f6f\96c5\9ed1;color:#333;padding-left:13px;background:url(images/IndexImages/ico_title.png) no-repeat left center;}
.title-f18{font-size:18px;font-weight:700;font-family:\5fae\8f6f\96c5\9ed1;color:#333;padding-left:13px;background:url(images/IndexImages/ico_title.png) no-repeat left center;}
.title-f24{font-size:24px;font-weight:700;font-family:\5fae\8f6f\96c5\9ed1;color:#333;padding-left:13px;background:url(images/IndexImages/ico_title.png) no-repeat left center;}

.btn-h30, .btn-h30 span{background:url(images/IndexImages/btn_h30.png) no-repeat 0 0;}
.btn-h30{float:left;height:30px;padding-left:16px;text-decoration:none;cursor:pointer;box-shadow:0 1px 1px rgba(0,0,0,.2);border-radius:5px;}
.btn-h30:hover{text-decoration:none;}
.btn-h30 span{float:left;height:100%;line-height:30px;padding-right:16px;}
.btn-h30.h30-green{ background-position:0 0;color:#4b6a10;}
.btn-h30.h30-green span{background-position:right -30px;}
.btn-h30.h30-green:hover{background-position:0 -61px;}
.btn-h30.h30-green:hover span{background-position:right -91px;}
.btn-h30.h30-orange{background-position:0 -122px;color:#7b4e07;}
.btn-h30.h30-orange span{background-position:right -152px;}
.btn-h30.h30-orange:hover{background-position:0 -183px;}
.btn-h30.h30-orange:hover span{background-position:right -213px;}
.btn-h30.h30-blue{background-position:0 -244px;color:#124665;}
.btn-h30.h30-blue span{background-position:right -274px;}
.btn-h30.h30-blue:hover{background-position:0 -305px;}
.btn-h30.h30-blue:hover span{background-position:right -335px;}
.btn-h30.h30-white{background-position:0 -366px;color:#7b7b7b;}
.btn-h30.h30-white span{background-position:right -396px;}
.btn-h30.h30-white:hover{background-position:0 -427px;}
.btn-h30.h30-white:hover span{background-position:right -457px;}


.form-btn-h30{display:block;width:54px;height:30px;background:url(images/IndexImages/btn_fixed_h30.png) no-repeat 0 0;box-shadow:0 1px 1px rgba(0,0,0,.2);border-radius:5px;}
.form-btn-h30:hover{text-decoration:none;}
.form-btn-h30 input{width:100%;height:30px; border:none 0; background:none; cursor:pointer;}
.form-btn-h30.btn-h30-green{background-position:0 0;}
.form-btn-h30.btn-h30-green:hover{background-position:0 -30px;}
.form-btn-h30.btn-h30-green input{color:#4b6a10;}
.form-btn-h30.btn-h30-orange{background-position:0 -61px;}
.form-btn-h30.btn-h30-orange:hover{background-position:0 -91px;}
.form-btn-h30.btn-h30-orange input{color:#7b4e07;}
.form-btn-h30.btn-h30-blue{background-position:0 -122px;}
.form-btn-h30.btn-h30-blue:hover{background-position:0 -152px;}
.form-btn-h30.btn-h30-blue input{color:#114665;}
.form-btn-h30.btn-h30-white{background-position:0 -183px;}
.form-btn-h30.btn-h30-white:hover{background-position:0 -213px;}
.form-btn-h30.btn-h30-white input{color:#7b7b7b;}

.reg-submit{display:block;width:234px;height:40px; background:url(images/IndexImages/btn_sub.png) no-repeat 0 -82px;}
.reg-submit:hover{ background-position:0 -123px;text-decoration:none;}
.reg-submit input{width:100%;height:40px; border:none 0; background:none; cursor:pointer;}


.select-ctrl{position:relative;z-index:9;}
.select-ctrl .current-option{ position:relative;z-index:9;height:33px;background:url(images/IndexImages/input_txt.png) no-repeat 0 0;padding-left:10px; cursor:pointer;}
.select-ctrl .current-option .select-txt{height:33px;line-height:33px;background:url(images/IndexImages/input_txt.png) no-repeat right -33px;padding:0 35px 0 5px;}
.select-ctrl .current-option .select-btn{ position:absolute;right:-2px;top:0;width:35px;height:33px; background:url(images/IndexImages/btn_select.png) no-repeat 0 0;cursor:pointer;}
.select-ctrl .current-option.selecting .select-btn{ background-position:0 -34px;}
.select-ctrl .current-option input.show-text{float:left; display:inline;width:100%;height:33px; line-height:33px;border:none 0;background:none;font-size:14px;color:#666; cursor:default;}
.select-ctrl .current-option input.post-input{display:none;}
.select-ctrl .drop-wrap{display:none; position:absolute;z-index:8;width:100%;margin-top:-10px;padding:10px 0 10px 0;background:#fff;border:1px solid #d6d6d8;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;box-shadow:0 0 3px rgba(0,0,0,.15) inset;}
.select-ctrl .drop-wrap li{padding:0 0 0 15px; line-height:22px;height:22px;cursor:pointer;}
.select-ctrl .drop-wrap li a{display:block;width:100%;color:#666;}


.btn-cmd, .btn-cmd span, .check-select, .check-select div{background-image:url(images/IndexImages/control.png);background-repeat: no-repeat;}

.check-select{float:left;height:31px;line-height:30px;background-position:0 0;padding-left:12px;}
.check-select div{float:left;background-position:right -31px;height:24px;padding:7px 12px 0 0;}
.check-ico{width:16px;height:17px;background:url(images/IndexImages/input.png) no-repeat -577px 0;}
.check-ico.chov{ background-position:-595px 0;}
.check-ico.cchd{ background-position:-613px 0;}
.check-ico input.check{ display:none;}

.btn-cmd{float:left;background-position:0 0;height:31px;line-height:30px;padding-left:12px ;color:#333;cursor:pointer;margin-left:5px;}
.btn-cmd span{ float:left;background-position:right -31px;height:31px;padding-right:12px;}
.btn-cmd:hover{ background:url(images/IndexImages/control.png) no-repeat 0 -63px;}
.btn-cmd:hover span{ background-position:right -94px;}
.btn-cmd.with-triangle span{padding-right:24px;}
.btn-cmd.with-triangle b{ position:absolute;right:9px;top:12px;border:5px solid;border-color:#888 transparent transparent transparent !important;border-color:#888 #fff #fff #fff;width:0;height:0;overflow:hidden;_filter:chroma(color = #ffffff);}
.btn-cmd.btn-orange, a.btn-cmd.btn-orange:hover{ background-position:0 -189px;color:#fff;}
.btn-cmd.btn-orange span, a.btn-cmd.btn-orange:hover span{ background-position:right -220px;}
.btn-cmd input{height:30px;border:none;background:none;line-height:30px;cursor:pointer;color:#333;}
.btn-cmd.disable-h31, a.btn-cmd.disable-h31:hover{ background-position:0 -126px;color:#ccc;cursor:default;}
.btn-cmd.disable-h31 span, a.btn-cmd.disable-h31:hover span{ background-position:right -157px;}
.btn-cmd.disable-h31 input{color:#ccc;cursor:default;}

a.btn-cmd-h25{height:25px;background:url(images/IndexImages/control.png) no-repeat 0 -303px;padding:0 0 0 5px;cursor:pointer;}
a.btn-cmd-h25 span{float:left;height:25px;background:url(images/IndexImages/control.png) no-repeat right -328px;padding:0 5px 0 0;line-height:24px;color:#333;}
.input-h31{height:31px;background:url(images/IndexImages/input.png) no-repeat 0 0;padding:0 0 0 12px;}
.input-h31 span{float:left;height:31px;width:100%;background:url(images/IndexImages/input.png) no-repeat right -31px;overflow:hidden;}
.input-h31 span input{height:30px;width:95%;line-height:30px;color:#333;border:none;background:none;}

.input-h25{height:25px;background:url(images/IndexImages/control.png) no-repeat 0 -252px;padding:0 0 0 5px;}
.input-h25 span{float:left;height:25px;width:100%;background:url(images/IndexImages/control.png) no-repeat right -277px;overflow:hidden;}
.input-h25 span input{height:24px;width:95%;line-height:24px;color:#333;border:none;background:none;}

.select-input{width:210px;padding:0 30px 0 12px;height:31px;background:url(images/IndexImages/select.png) no-repeat 0 0;}
.select-input span{width:100%;height:31px;display:block;}
.select-input input{ width:100%;background:none;border:none;height:30px;line-height:30px;color:#333;}


/*头像遮罩*/
.avatar-mask{position:absolute;left:0;top:0;background:url(images/IndexImages/avatar_mask.png) 0 0;}
.avatar-mask.m32-white{width:32px;height:32px;background-position:-202px 0;}
.avatar-mask.m80-white{width:80px;height:80px;background-position:-121px 0;}
.avatar-mask.m120-white{width:120px;height:120px;background-position:0 0;}
/*.avatar-mask.m32-gray{width:32px;height:32px;background-position:-202px -240px;}
.avatar-mask.m80-gray{width:80px;height:80px;background-position:-121px -240px;}
.avatar-mask.m120-gray{width:120px;height:120px;background-position:0 -240px;}
.m32-orange{width:32px;height:32px;background-position:-202px -120px;display:none;}
.avatar-mask.m80-orange{width:80px;height:80px;background-position:-121px -120px;display:none;}
.avatar-mask.m120-orange{width:120px;height:120px;background-position:0 -120px;display:none;}
.home-call-content .avatar-mask{left:30px;}*/

/*信息提示*/
.tip_box{height:43px; line-height:42px;padding-left:10px; background:url(images/IndexImages/tip_box.png) no-repeat 0 -43px;}
.tip_box span{float:left;padding:0 15px 0 5px;background:url(images/IndexImages/tip_box.png) no-repeat right 0;color:#fff;}
.aliyun-uc-header .tip_box{ position:absolute;top:40px;left:50%;float:left;}
.tip_box.tip-center{ position:absolute;left:50%;top:50%;margin:-21px 0 0 -50px;}

/*404*/
.page404{position:relative;left:50%;}
.page404-wrap{position:relative;left:-50%;padding-top:100px;}
.page404-ico{width:204px;height:204px;background:url(images/IndexImages/404.jpg) no-repeat 0 0;margin-right:50px;line-height:999em;overflow:hidden;}
.page404 p{padding-top:10px;}
.page404 p a{height:15px;line-height:15px;padding:0 0 0 20px;background:url(images/IndexImages/404_ico.png) no-repeat 0 0;color:#999;}
.page404 h5{padding:45px 0 0 0;}
.page404 p a.link-back{ background-position:0 -16px;}
/*loading*/
.loading-page{ position:relative;top:40%;margin:0 auto;clear:left;color:#666;}
.loading-page img{display:block;margin:0 auto;}
.loading-page p{ text-align:center;}
.loading-save-page{color:#666;}
.loading-save-page img{float:left;}
.loading-save-page p{float:left;line-height:24px;padding:0 0 0 5px;}

/*滚动条_部分*/
.jscroll-c{position:relative;z-index:0;zoom:1;float:left;display:inline;width:100%;}
.jscroll-h .jscroll-top, .jscroll-h .jscroll-bottom{background:url(images/IndexImages/me_icon8_inside.png) no-repeat 0 0;width:10px;overflow:hidden;*font-size:0;filter:alpha(opacity=70);opacity:0.7;}
.jscroll-h .jscroll-top{background-position:0 0;}
.jscroll-h .jscroll-bottom{background-position:0 bottom;}
.jscroll-h.schov .jscroll-top{ background-position:-11px 0;}
.jscroll-h.schov .jscroll-bottom{ background-position:-11px bottom;}
.jscroll-u, .jscroll-d{ display:none;}

body{ background:url(images/IndexImages/bg.jpg);}
/*header*/
.aliyun-footer{width:750px;height:18px;margin:30px auto 0 auto;color:#666;padding:20px 0 20px 0;background:url(images/IndexImages/aliyun_footer_line.png) no-repeat center 0;}
.aliyun-footer .footer-link{float:left;}
.aliyun-footer .footer-info{float:right;}
.aliyun-footer a{color:#666;margin:0 7px;}
.site-count{display:none;}