USE [YingShiDa]
GO
/****** Object:  Table [dbo].[Talent_Concept]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talent_Concept](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Talent_Concept] ON
INSERT [dbo].[Talent_Concept] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'诚实', N'<p><span style="color: rgb(102, 102, 102); font-family: Verdana, Helvetica, sans-serif; font-size: 18px; white-space: normal;">&nbsp;“人无信不立 ，企无信难存”，一个人的诚实与否能够真实体现其待人处事的态度，反映其个人品性，直接影响团队合作过程中的彼此信任度与凝聚力。英士达机电重视员工秉承诚实守信的营销理念，做到对企业，对消费者负责。只有诚实守信才能赢得客户的信赖，赢得市场，赢得一种长期的可持续发展的格局。</span></p>', N'郭强煜', CAST(0x0000A73B00EE0F5C AS DateTime), CAST(0x0000A73B00EE1B14 AS DateTime), N'5ce78648a1724a3da8979897164808bc.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Talent_Concept] OFF
/****** Object:  Table [dbo].[SysUser]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](30) NULL,
	[UserName] [nvarchar](30) NULL,
	[PassWord] [nvarchar](30) NULL,
	[Phone] [nvarchar](30) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysUser] ON
INSERT [dbo].[SysUser] ([ID], [UserID], [UserName], [PassWord], [Phone], [CreateTime], [UpdateTime], [Language]) VALUES (1, NULL, N'admin', N'123456', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SysUser] OFF
/****** Object:  Table [dbo].[Staff_Presence]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Presence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Staff_Presence] ON
INSERT [dbo].[Staff_Presence] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'员工风采', N'<p>员工风采1</p>', N'郭强煜', CAST(0x0000A73B00EFA600 AS DateTime), CAST(0x0000A73B00EFB668 AS DateTime), N'36cb7680308d4a1e866d52ec651bbfcf.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Staff_Presence] OFF
/****** Object:  Table [dbo].[Service_Concept]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Concept](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Service_Concept] ON
INSERT [dbo].[Service_Concept] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'专业1', N'<p><span style="color: rgb(102, 102, 102); font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 18px; white-space: normal;">“专业”是英士达品牌价值的核心诉求。我司将坚持“用责任打造品牌”、“认真做好每一件事”的专业精神，着力提高人员技能和素养，力求将服务效率和品质落实到实处，让客户真正体验优质的专业服务。</span></p>', N'郭强煜', CAST(0x0000A73B00ED1DF4 AS DateTime), CAST(0x0000A73B00ED2AD8 AS DateTime), N'5282df5442874b93ba2c21511fbe1875.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Service_Concept] OFF
/****** Object:  Table [dbo].[Recruitment]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[BrowseTimes] [int] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Department] [nvarchar](20) NULL,
	[Number] [int] NULL,
	[Responsibilities] [ntext] NULL,
	[JobRequirements] [ntext] NULL,
	[Salary] [nvarchar](20) NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__Recruitm__3214EC275006DFF2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'招聘岗位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Recruitment', @level2type=N'COLUMN',@level2name=N'Title'
GO
SET IDENTITY_INSERT [dbo].[Recruitment] ON
SET IDENTITY_INSERT [dbo].[Recruitment] OFF
/****** Object:  Table [dbo].[ProductRelation]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRelation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductDetailID] [nvarchar](30) NOT NULL,
	[ProductID] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ProductRelation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品详情ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductRelation', @level2type=N'COLUMN',@level2name=N'ProductDetailID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关联的产品ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductRelation', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
SET IDENTITY_INSERT [dbo].[ProductRelation] ON
INSERT [dbo].[ProductRelation] ([ID], [ProductDetailID], [ProductID]) VALUES (46, N'PD0017042700001', N'PC0017032100001')
SET IDENTITY_INSERT [dbo].[ProductRelation] OFF
/****** Object:  Table [dbo].[ProductCenterModel]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCenterModel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductModelID] [nvarchar](30) NULL,
	[ProductID] [nvarchar](30) NULL,
	[ProductModel] [nvarchar](30) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__ProductC__3214EC276ABAD62E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCenterModel] ON
INSERT [dbo].[ProductCenterModel] ([ID], [ProductModelID], [ProductID], [ProductModel], [CreateTime], [UpdateTime], [Language]) VALUES (5, N'PM0017032200001', N'PC0017032100001', N'11', CAST(0x0000A73E00027C54 AS DateTime), CAST(0x0000A73E00027C54 AS DateTime), 1)
INSERT [dbo].[ProductCenterModel] ([ID], [ProductModelID], [ProductID], [ProductModel], [CreateTime], [UpdateTime], [Language]) VALUES (6, N'PM0017032200002', N'PC0017032100001', N'22', CAST(0x0000A73E00027D80 AS DateTime), CAST(0x0000A73E00027D80 AS DateTime), 1)
INSERT [dbo].[ProductCenterModel] ([ID], [ProductModelID], [ProductID], [ProductModel], [CreateTime], [UpdateTime], [Language]) VALUES (7, N'PM0017032200003', N'PC0017032100001', N'33', CAST(0x0000A73E00027EAC AS DateTime), CAST(0x0000A73E00027EAC AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ProductCenterModel] OFF
/****** Object:  Table [dbo].[ProductCenterDetail]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCenterDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductDetailID] [nvarchar](30) NULL,
	[ProductModelID] [nvarchar](30) NULL,
	[Title] [nvarchar](150) NULL,
	[Series] [nvarchar](20) NULL,
	[ClothAngle] [nvarchar](20) NULL,
	[Advantage] [ntext] NULL,
	[TechnicalParameter] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[FileName] [nvarchar](500) NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__ProductC__3214EC276E8B6712] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'技术参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductCenterDetail', @level2type=N'COLUMN',@level2name=N'TechnicalParameter'
GO
SET IDENTITY_INSERT [dbo].[ProductCenterDetail] ON
INSERT [dbo].[ProductCenterDetail] ([ID], [ProductDetailID], [ProductModelID], [Title], [Series], [ClothAngle], [Advantage], [TechnicalParameter], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [FileName], [Language]) VALUES (2, N'PD0017032200001', N'PM0017032200007', N'伺服驱动器详情', N'123', N'123', N'<p>123456</p>', N'<p>123456</p>', N'gqy', CAST(0x0000A73E010F77B4 AS DateTime), CAST(0x0000A74D00FB3A66 AS DateTime), N'374864edd70846fba72c0d065318eadf.jpg', N'99c8bfa5cca24dfca2243f5a131069b9.pdf', 1)
INSERT [dbo].[ProductCenterDetail] ([ID], [ProductDetailID], [ProductModelID], [Title], [Series], [ClothAngle], [Advantage], [TechnicalParameter], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [FileName], [Language]) VALUES (3, N'PD0017032400001', N'PM0017032200001', N'123456', N'123', N'123', N'<p>123313</p>', N'<p>133131</p>', N'gqyy', CAST(0x0000A74000A430D0 AS DateTime), CAST(0x0000A74D00FB097A AS DateTime), N'1a8b0fa6d0de429f9a6c3781a0ecb118.jpg', N'45acb376-9fdc-4269-a848-92c337b66ccc.xlsx,8c9c6670-0a27-4b69-b4b2-fa08a7bd9d91.xlsx', 1)
INSERT [dbo].[ProductCenterDetail] ([ID], [ProductDetailID], [ProductModelID], [Title], [Series], [ClothAngle], [Advantage], [TechnicalParameter], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [FileName], [Language]) VALUES (4, N'PD0017032500001', N'PM0017032200001', N'123', N'1213', N'133', N'<p>1331</p>', N'<p>1331</p>', N'gqy', CAST(0x0000A741011EDCB8 AS DateTime), CAST(0x0000A74D00FAFAF1 AS DateTime), N'dbf5e60331e94b81b7cb780dc26f2c44.jpeg', N'0e7e2185-ef87-4145-b166-40973b48227a.pdf,25adcf81-99f4-4998-9d0c-42390aa8830a.pdf', 1)
SET IDENTITY_INSERT [dbo].[ProductCenterDetail] OFF
/****** Object:  Table [dbo].[ProductCenter]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCenter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](30) NULL,
	[ProductTitle] [nvarchar](150) NULL,
	[ProductType] [int] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCenter] ON
INSERT [dbo].[ProductCenter] ([ID], [ProductID], [ProductTitle], [ProductType], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'PC0017032100001', N'伺服驱动器', 1, N'郭强煜', CAST(0x0000A73D017D9780 AS DateTime), CAST(0x0000A76800C09626 AS DateTime), N'198e0a31598b462d9a1d14a3e1963617.jpg', 1)
INSERT [dbo].[ProductCenter] ([ID], [ProductID], [ProductTitle], [ProductType], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (2, N'PC0017042700001', N'伺服电机', 2, N'郭强煜', CAST(0x0000A76200BA7C5F AS DateTime), CAST(0x0000A76200BA7C5F AS DateTime), N'4f32e341dded4a80abe87438d1f1bc47.jpeg', 1)
INSERT [dbo].[ProductCenter] ([ID], [ProductID], [ProductTitle], [ProductType], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (6, N'PC0017050300001', N'伺服驱动器', 1, N'gqy', CAST(0x0000A76800C0263E AS DateTime), CAST(0x0000A76800C08356 AS DateTime), N'3c23feb504e34469a8a84ac3050224f1.jpg', 2)
SET IDENTITY_INSERT [dbo].[ProductCenter] OFF
/****** Object:  Table [dbo].[InTeam]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InTeam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content1] [nvarchar](50) NULL,
	[Content2] [nvarchar](50) NULL,
	[Content3] [nvarchar](50) NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[TeamPicname] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__InTeam__3214EC27267ABA7A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InTeam] ON
INSERT [dbo].[InTeam] ([ID], [Title], [Content1], [Content2], [Content3], [CreatePeople], [TeamPicname], [CreateTime], [UpdateTime], [Language]) VALUES (1, N'123', N'123', N'456', N'789', N'gqy', N'3ae2fd07-d57b-4332-9c6f-df19d1b6bd4b.jpg,a7b7d075-cf35-41f4-aec1-e7d59092c8cd.jpg,174361a0-6707-44ad-b840-2383e9db849e.jpg,6d08d6fd-d1e2-433c-b37b-7effe68438c0.jpg', CAST(0x0000A741011E09C8 AS DateTime), CAST(0x0000A741011E09C8 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[InTeam] OFF
/****** Object:  Table [dbo].[Industry_News]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industry_News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[BrowseTimes] [int] NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Industry_News] ON
SET IDENTITY_INSERT [dbo].[Industry_News] OFF
/****** Object:  Table [dbo].[InBanner]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InBanner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[CreatePeople] [nvarchar](150) NULL,
	[BannerPicname] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__InBanner__3214EC271ED998B2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InBanner] ON
INSERT [dbo].[InBanner] ([ID], [Title], [CreatePeople], [BannerPicname], [CreateTime], [UpdateTime], [Language]) VALUES (1, N'123', N'gqy', N'eede34dc-28ae-415d-b6a5-8f4b2e01bef5.jpg,6c62bd0f-f8e9-40f6-bd43-921a8c569472.jpg,b11d97fd-f721-40a3-9473-590140347356.jpg,ba49ded6-c3ff-494c-9e91-bb98a8d1e05e.jpg', CAST(0x0000A741011DAC08 AS DateTime), CAST(0x0000A741011DAC08 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[InBanner] OFF
/****** Object:  Table [dbo].[Contact_US]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact_US](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Department] [nvarchar](30) NULL,
	[Company] [nvarchar](100) NULL,
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[Fax] [nvarchar](30) NULL,
	[Postcode] [nvarchar](20) NULL,
	[mailbox] [nvarchar](20) NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[BrowseTimes] [int] NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[Language] [int] NULL,
 CONSTRAINT [PK__Contact___3214EC271B0907CE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contact_US] ON
INSERT [dbo].[Contact_US] ([ID], [Title], [Department], [Company], [Address], [Phone], [Fax], [Postcode], [mailbox], [CreatePeople], [CreateTime], [UpdateTime], [BrowseTimes], [LogoUrl], [Language]) VALUES (1, N'自动包装机受追捧，市场潜力巨大', N'综合办', N'英士达机电(香港)集团有限公司', N'香港九龙长沙湾元洲街273-279号泰盛大厦2楼L026室', N'852-30697060', N'852-30697062', N'999077', N'sales@instar.com.cn', N'郭强煜', CAST(0x0000A73B00F22E0C AS DateTime), CAST(0x0000A73B00F22E0C AS DateTime), 0, N'd7eec2198b384c078cd35f0b2e6d3f93.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Contact_US] OFF
/****** Object:  Table [dbo].[Company_Profile]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Profile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[TextUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_Profile] ON
INSERT [dbo].[Company_Profile] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [TextUrl], [Language]) VALUES (5, N'124', N'<p>3232434342</p>', N'', CAST(0x0000A74D00EC108C AS DateTime), CAST(0x0000A74D00EC3E62 AS DateTime), N'', N'', 1)
SET IDENTITY_INSERT [dbo].[Company_Profile] OFF
/****** Object:  Table [dbo].[Company_News]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateCompany] [nvarchar](30) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[BrowseTimes] [int] NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_News] ON
SET IDENTITY_INSERT [dbo].[Company_News] OFF
/****** Object:  Table [dbo].[Company_Location]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Location](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_Location] ON
INSERT [dbo].[Company_Location] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'深圳市英士达机电技术开发公司', N'<p>深圳市英士达机电技术开发公司</p>', N'郭强煜', CAST(0x0000A73B00F025BC AS DateTime), CAST(0x0000A73B00F025BC AS DateTime), N'bbc8de257dd841dcb347f5bc3ec96ff7.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Company_Location] OFF
/****** Object:  Table [dbo].[Company_Honor]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Honor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_Honor] ON
INSERT [dbo].[Company_Honor] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'企业精神', N'<p><span style="color: rgb(102, 102, 102); font-family: Verdana, Helvetica, sans-serif; font-size: 18px; white-space: normal;">积极敬业、开拓创新、团结协作、诚实守信</span></p>', N'郭强煜', CAST(0x0000A73B00E1D098 AS DateTime), CAST(0x0000A73B00E1D098 AS DateTime), N'b17e9b1e484f490b82d9458e29816403.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Company_Honor] OFF
/****** Object:  Table [dbo].[Company_History]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_History] ON
INSERT [dbo].[Company_History] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'2014年', N'<p><span style="color: rgb(102, 102, 102); font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; white-space: normal;">&nbsp; ● 英士达机电数字型步进驱动器投入生产，数字型步进驱动器采用的是更为强大的DSP处理器(Digital Signal Processor)，能有效的降低步进电机发热、运行噪声和更高的平稳性，彻底解决了步进电机低速共振的难题，把步进电机的最大运行速度提高了一倍，同时也具有更强的抗干扰能力。</span></p>', N'郭强煜', CAST(0x0000A73B00E0D4A4 AS DateTime), CAST(0x0000A73B00E0E890 AS DateTime), N'7f30442f6f2b468cba6eaac1373ba6a9.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Company_History] OFF
/****** Object:  Table [dbo].[Company_Culture]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Culture](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Content] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company_Culture] ON
INSERT [dbo].[Company_Culture] ([ID], [Title], [Content], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'企业宗旨', N'<p>以卓越的专业服务团队，全心全意</p>', N'郭强煜', CAST(0x0000A73B00E15EEC AS DateTime), CAST(0x0000A73B00E15EEC AS DateTime), N'683bb0edde114039b38b3f93370e494b.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Company_Culture] OFF
/****** Object:  Table [dbo].[CommonQuestion]    Script Date: 05/04/2017 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[ContentQuestion] [ntext] NULL,
	[ContentAnswer] [ntext] NULL,
	[CreatePeople] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[LogoUrl] [nvarchar](50) NULL,
	[Language] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommonQuestion] ON
INSERT [dbo].[CommonQuestion] ([ID], [Title], [ContentQuestion], [ContentAnswer], [CreatePeople], [CreateTime], [UpdateTime], [LogoUrl], [Language]) VALUES (1, N'鸡蛋问题', N'先有鸡还是先有蛋', N'先有男还是先有女', N'郭强煜', CAST(0x0000A73B00ED9450 AS DateTime), CAST(0x0000A73B00ED9450 AS DateTime), N'6fb52baa551445789a3a9960bb378c3e.jpg', NULL)
SET IDENTITY_INSERT [dbo].[CommonQuestion] OFF
/****** Object:  StoredProcedure [dbo].[Common_FastPageList]    Script Date: 05/04/2017 14:05:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--存储过程
CREATE procedure [dbo].[Common_FastPageList]   
@sql nvarchar(max),	--要执行的sql语句
@page int=1, 			--要显示的页码
@pageSize int,			--每页的大小
@pageCount int=0 out,	--总页数
@recordCount int=0 out	--总记录数
as
set nocount on
declare @p1 int
exec sp_cursoropen @p1 output,@sql,@scrollopt=1,@ccopt=1,@rowcount=@pagecount output
set @recordCount = @pageCount
select @pagecount=ceiling(1.0*@pagecount/@pagesize)
	,@page=(@page-1)*@pagesize+1
exec sp_cursorfetch @p1,16,@page,@pagesize 
select @pageCount,@recordCount;
GO
